[ req ]
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no

[ req_distinguished_name ]
C = SE
ST = Stockholm
L = Stockholm
CN = 192.168.50.221  # Your Raspberry Pi IP or hostname

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
IP.1 = 192.168.50.221  # Add the IP address of the server (Raspberry Pi)